{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>Scrum Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'board/vendor/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'board/css/board.css' %}">
      <!-- Шаблон -->
<script type="text/template" id="item-template">
<div class="view">

  <input class="edit" value="<%- title %>">
  <button class="destroy">Удалить</button>
</div>
</script>
    <script type="text/html" id="new-comment-template" >
        <form action="" method="post" >
            <label for="id_name" >comment/label>
            <input id="id_name" type="text" name="name" maxlength="100" required />
            
            <label for="comment_text" >Description</label>
            <textarea id="comment_text" name="description" cols="50" >
            </textarea>
            <button class="cancel" >Cancel</button>
            <button class="submit" >Create</button>
        </form>
    </script>
    <script type="text/html" id="home-template">

     
    </script>
    <script type="text/html" id="login-template">
        <form action="" method="post">
            <label for="id_username">Username</label>
            <input type="text" id="id-username" name="username" maxlength="30" required />
            <label for="id_password">Pasword</label>
            <input type="password" id="id_password" name="password" required />
            <button type="submit">Login</button>
        </form>
    </script>
    <script type="text/html" id="header-template">
        <span class="title">Scrum Board Exccccample</span>
        <% if (authenticated) { %>
        <nav>
            <a href="/" class="button">Your Sprints</a>
            <a href="#" class="button logout">Logout</a>
        </nav>
        <% } %>
    </script>
    <script type="text/html" id="comment-template" >
            <form class="add-comment" action="" method="post" >
            <label for="title" >title</label>
            <input id="title" type="text" name="name" maxlength="100" required />
            <label for="comment_text" >Comment</label>
            <textarea id="comment_text" name="comment_text" ></textarea>
            <button class="create" type="submit" >Create</button>
            <button class="cancel" type="submit" >Cancel</button>
            </form>
    </script>
</head>
<body>

    <div id="content">

    </div>
{% for comment in comments %}
{{ comment }}
{{ comment.comment_text }} by 
{{ comment.author}} at 
{{ comment.create}}

{% endfor %}




    <script src="{% static 'board/vendor/jquery.js' %}"></script>
    <script src="{% static 'board/vendor/underscore.js' %}"></script>
    <script src="{% static 'board/vendor/backbone.js' %}"></script>
    <script id="config" type="text/json">
        {
            "models": {},
            "collections": {},
            "views": {},
            "router": null,
            "apiRoot": "{% url 'api-root' %}",
            "apiLogin": "{% url 'api-token' %}"
        }
    </script>
    <script src="{% static 'board/js/app.js' %}"></script>
    <script src="{% static 'board/js/models.js' %}"></script>
    <script src="{% static 'board/js/views.js' %}"></script>
    <script src="{% static 'board/js/router.js' %}"></script>
</body>
</html>